---
layout: layouts/home.njk
title: 11ty recipes
---
<section>
    {% for recipe in collections.recipe %}
    <article>
        <h2><a href="{{ recipe.url }}">{{ recipe.data.title }}</a></h2>
        <div>
            <span>{{ recipe.data.cooking }}</span>
        </div>
    </article>
    {% endfor %}
</section>