<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/styles/styles.css' | url }}">
    <title>{{ title or metadata.title }}</title>
</head>
<body>
    <header>
        <h1>{{ title or metadata.title }}</h1>
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        <p>Source code on <a href="https://github.com/nathaner/eleventy-recipes" target="_blank" rel="noopener noreferrer">GitHub</a></p>
        <p>Powered by <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">11ty</a></p>
    </footer>
</body>
</html>